<!DOCTYPE html>
<html>
  <head>
    <title>SpartaGlobalMetalsRails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="display-1 bg-info text-center">Mani's Metal Resources</h1>
    <table>
    <%= yield %>
  </body>
</html>
